<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voldp.runtimepermission"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="29" />

    <application>
        <activity
            android:name="com.voldp.runtimepermission.VolPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission" />
    </application>

</manifest>